body {
  text-align: center;
}

.home {
  width: 100vh;
  height: 100vh;
  background: url('./images/charles.jpg') right top/contain no-repeat;
}

.shop {
  margin: 20px 100px;
}

.items {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-around;
  align-items: center;
  padding: 0;
  list-style: none;
}
img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.add-to-cart {
  cursor: pointer;
}
